{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') and object.document %}
    <a
        {{ stimulus_controller('pdf-button', {'attachment': object.id, 'path': path('media_inline_spending_item', {'id': object.id})}) }}
        {{ stimulus_action('pdf-button', 'clicked') }}
        data-toggle="modal"
        data-target="#pdf-preview-modal"
        class="btn btn-sm btn-default"
        title="{{ 'backend.admin.pdf_preview' | trans }}"
    >
        <i class="fas fa-cloud-download-alt"></i>
    </a>
{% endif %}
