{% extends "Mails/base.html.twig" %}

{% block content %}
    <row>
        <columns small="12" large="12">
            <h3 class="grey-color">Notificació</h3>
            <spacer size="15"></spacer>
        </columns>
    </row>
    <row>
        <columns small="12" large="12">
            <h4 class="grey-color text-center">Gràcies per contactar amb nosaltres</h4>
            <h4 class="grey-color text-center">{{ contact.name }}</h4>
            <p class="blue-color text-center only-normal-m-top">
                Et respondrem el més aviat possible.<br>
                Seguim en contacte.
            </p>
        </columns>
    </row>
{% endblock %}
