{% extends "Mails/base.html.twig" %}

{% block content %}
    <row>
        <columns small="12" large="12">
            <h3 class="grey-color">Notificació</h3>
            <spacer size="15"></spacer>
        </columns>
    </row>
    <row>
        <columns small="12" large="12">
            <h4>Benvolgut {{ contact.name }},</h4>
            <p class="grey-color">
                En resposta a la teva pregunta:
            </p>
            <p class="grey-color">
                {{ contact.message }}
            </p>
            <p class="grey-color">
                T'hem de dir que:
            </p>
            <p>
                {{ contact.description | nl2br }}
            </p>
            <br>
            <p class="blue-color only-normal-m-top">Salutacions</p>
        </columns>
    </row>
{% endblock %}
