{% extends "Mails/base.html.twig" %}

{% block content %}
    <row>
        <columns small="12" large="12">
            <h3 class="grey-color">Notificació de newsletter</h3>
            <spacer size="15"></spacer>
        </columns>
    </row>
    <row>
        <columns small="12" large="12">
            <h4 class="grey-color text-center">Persona interessada en rebre el newsletter</h4>
            <p class="grey-color">
                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a> ha emplenat el formulari de subscripció al newsletter.
            </p>
        </columns>
    </row>
{% endblock %}
