@import "colors.scss";

.main-header .logo {
  padding: 0;
  width: 231px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.mr-3 {
  margin-right: 3px !important;
}

input[type=file].dropzone-input {
  height: 100% !important;
}

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
