{% extends 'Front/layout.html.twig' %}

{% form_theme preRegisterForm _self %}

{% block _contact_message_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="privacy_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="privacy_checkbox">
            Accepto la <a href="{{ path('app_privacy_policy')}}">política de privacitat</a>
        </label>
    </div>
{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-5 col-md-4">
                {{ form(preRegisterForm) }}
            </div>
        </div>
    </div>
    {% include 'Front/includes/notice_flash.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'Front/includes/scroll-to-flash-js.html.twig' %}
{% endblock %}
