<div class="login-logo no-margin">
    <a href="{{ path('sonata_admin_dashboard') }}">
        <img style="margin:10px" src="{{ asset(admin_logo) | imagine_filter('200xY')}}" alt="{{ main_brand_title }} logo">
    </a>
</div>
